body{
    background-image:linear-gradient(90deg,#23ffaa,#123978);
    color:white;
}
#main{
    background: rgba(0,0,0,0.75);
    margin-left:10%;
    margin-right:10%;
}

#posts{
    margin-left:10%;
    margin-right:10%;
    background: rgba(0,0,0,0.5);
}

